.lg {
  width: 70%;
  background-color: transparent;
  border: 1px solid black;
}

.lg:active {
  scale: 0.8;
  background: rgb(136, 0, 0);
  background: linear-gradient(
    105deg,
    rgba(136, 0, 0, 1) 30%,
    rgba(231, 0, 0, 1) 75%
  );
}
.btx {
  margin: 50px;
  width: 8vw;
  aspect-ratio: 3/1;
}
body {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 106, 117);
  background: linear-gradient(
    174deg,
    rgba(0, 106, 117, 1) 11%,
    rgba(0, 51, 113, 1) 72%
  );
}

.picture {
  border-radius: 50px;
  border: 5px solid black;
}

.usx {
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px 20px 5px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.usx > * {
  margin-right: 1%;
}

.name {
  color: antiquewhite;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}

.hl {
  color: aliceblue;
  text-decoration: none;
  margin-left: 100%;
}
